{% load static %}
<!<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
<center><h1>Dynamic Blog project</h1></center>
<div class="boxex">
    <img src="{% static 'imagefolder/blogimage.jpeg' %}" alt="bloglogo" width="150" height="150">
<h2 id="first"></h2>
<h3 id="second">
</h3>
    <h4 id="third">
    </h4>
     <h4 id="fourth">
    </h4>
<h2 id="five"></h2>
<h3 id="six">
</h3>
    <h4 id="seven">
    </h4>
     <h4 id="eight">
    </h4>
    <h2 id="nine"></h2>
<h3 id="ten">
</h3>
    <h4 id="eleven">
    </h4>
     <h4 id="twelve">
    </h4>
     <h4 id="thirteen">
    </h4>
</div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>


